{%extends 'base.html.twig' %}
{% block title %}
   Tic Tac Toe
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="text-center"id="box">
        <header>
            <h1>Play Tic Tac Toe</h1>
        </header>
        <div id="message"></div>
        <ul id="gameBoard">
            {% for i in 1..9 %}
            <li class="tic" data-id="{{i}}">#</li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
        <div id="chat"></div>
        <footer>
            <button id="play">New game</button>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/play.js') }}"> </script>
{% endblock %}